In [7]:
#creating dataframe
#dealing with rows and columns
#operations:min, max, std, describe
#conditional selection
#set index

In [8]:
import pandas as pd
# df = pd.read_csv(r'C:\Users\Srinivas Raju\projects\Pandas\day2-dataframe_basics\weather_data.csv')
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [24]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df=pd.DataFrame(weather_data)
df
#tell rows and column shape
df.shape
rows, columns = df.shape
# columns
#df.head -print few rows
# df.head(2)
# df.tail(1)#print last row
df[2:5]#print row 2 to 5
df.columns #print the columns
df.day #print the specifi column
df['event']#print the specifi column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [31]:
#type of the column
type(df['event'])
#print 2 columns
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [38]:
#max temperature
df['temperature'].max()
#min temperature
df['temperature'].min()
#std-stand derivation temperature
df['temperature'].std()
#describe temperature
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [56]:
#temperature is greater than 32
df[df.temperature>=32]
#temperature is greater than maximum
df[df.temperature>=df.temperature.max()]
#if we have space use this
df[df.temperature>=df['temperature'].max()]
#print day for max temperature
df['day'][df.temperature==df['temperature'].max()]
df['day'][df['temperature']==df['temperature'].max()]
#print day,temperature for max temperature
df[['day','temperature']][df['temperature']==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [64]:
df
#shows the indexes
df.index
#change the index values with a column value
df.set_index('day')

KeyError: "None of ['day'] are in the columns"

In [ ]:
#change the index values with a day column value with orginal modified
# df.set_index('day', inplace=True)
df
#gives the location value
df.loc['1/3/2017']
#reset index
df.reset_index(inplace=True)
df

In [ ]:
df.set_index('event',inplace=True)
df.loc['snow']
df

In [81]:
df.reset_index(inplace=True)
df

   event       day  temperature  windspeed
0   Rain  1/1/2017           32          6
1  Sunny  1/2/2017           35          7
2   Snow  1/3/2017           28          2
3   Snow  1/4/2017           24          7
4   Rain  1/5/2017           32          4
5  Sunny  1/6/2017           31          2